nav{
	background-color: violet;
	color: white;
}
ul {
	color: white;
	background-color: purple;

}
li{
	color: white;

}
td{
	background-color: lightseagreen ;
}
p{
	font-family: 'Amatic SC', cursive;

}